<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gobletto</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <header class="navbar">
        <div class="logo">
            <a href="index.html"><img src="./assets/Gobletto.png"><h1>Gobletto</h1></a>
        </div>
        <nav>
            <a href="profilepage.html" class="auth-btn" style="text-decoration: none;"><i class="fas fa-user"></i></a>
            <a href="login.html" class="auth-btn" name="logout" id="logoutbutton">Logout</a>
        </nav>
    </header>
    <main class="container">
        <section class="search-section">
            <input type="text" id="search-input" placeholder="Search for artists, songs, or playlists..."
                aria-label="Search Spotify content">
        </section>
        <section id="search-results" class="grid-view">
            <!-- Search Result Area -->
        </section>
        <!-- User's Playlist -->
        <h2 style="margin-top: 50px; text-align: center;">Your Playlists</h2>
        <section id="user-playlists-container" class="grid-view" style="display: flex; justify-content: center; flex-wrap: wrap; gap: 20px;">
            <!-- Liked Songs Card -->
            <a href="likedsongs.html" class="card" style="width: 200px;">
                <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                    <img src="./assets/liked-songs-300.jpg" id="liked-song">
                </div>
                <div class="card-info">
                    <p class="card-title">Liked Songs</p>
                    <p class="card-subtitle" id="liked-songs-count">0 Tracks</p>
                </div>
            </a>
        </section>
    </main>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/links.js"></script>
    <script src="./js/auth.js"></script>
    <script src="./js/main.js"></script>
</body>

</html>