<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<body>
    <header class="navbar">
        <div class="logo">
            <a href="index.html"><img src="./assets/Gobletto.png"><h1>Gobletto</h1></a>
        </div>
        <nav>
            <a href="profilepage.html" class="auth-btn"
                style="background-color: var(--medium-gray); text-decoration: none;"><i class="fas fa-user"></i></a>
            <a href="login.html" class="auth-btn" name="logout" id="logoutbutton">Logout</a>
        </nav>
    </header>

    <main class="container">
        <div class="profile-box">
            <h2>Edit Profile</h2>
            <form id="profile-form">
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" id="email" disabled class="disabled-input">
                    <small class="info-text">Email cannot be changed.</small>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" required placeholder="Enter your username">
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" id="password" placeholder="Leave blank to keep current password">
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirm New Password</label>
                    <input type="password" id="confirm-password" placeholder="Confirm new password">
                </div>

                <div id="message-area" class="message-area"></div>

                <button type="submit" class="save-btn">Save Changes</button>
            </form>
        </div>
        <hr style="border-color: #333; margin: 20px 0;">
        <h3>Spotify Stats</h3>
        <div id="spotify-connect-section">
            <button id="connect-spotify-btn" class="save-btn" style="background-color: #1DB954;">
                <img src="./assets/Spotify-icon.png"> Spotify Account
            </button>
        </div>
    </main>
    <script src="./js/jquery.min.js"></script>
    <script src="./js/const.js"></script>
    <script src="./js/auth.js"></script>
    <script src="./js/profile.js"></script>
</body>
</html>