body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #282828;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #535353;
    background-color: #3e3e3e;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 25px;
    background-color: #147a3d;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background-color: #1a8f48;
}

p {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: #1f9d55;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
#notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    max-width: 300px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s;
}

#notification.show {
    opacity: 1;
    transform: translateX(0);
}

#notification.error {
    background-color: #f44336;
}

#notification.success {
    background-color: #147a3d;
}

#notification.warning {
    background-color: #ff9800;
}

#notification.info {
    background-color: #2196F3;
}